<ion-content class="login-content" no-bounce padding>

  <!-- Logo Items  -->
  <ion-row class="logo-row">

      <!-- Logo Image  -->
      <!-- Logo Image  -->


      <img class="logo-style" src="assets/imgs/kava-logo-2.png"/>

  </ion-row>

  <!-- Logo Title  -->
<ion-row>
    <p class="logo-text">JOIN THE FUN</p>
</ion-row>

  <div class="" style="margin-top : -53px;">

  </div>
  <!-- Area for the login stuff. -->
  <div class="login-box">

    <!-- Login Form Start -->
    <form>

      <!-- Username and Password Inputs  -->
      <ion-row>
        <ion-col>
          <ion-list inset>
            <ion-item style="background-color : #F0F6F1;">
              <ion-label floating style="background-color : #F0F6F1;">Email</ion-label>
              <ion-input type="email" name="email" required class="custom-input-email" [(ngModel)]="user.email" floating></ion-input>
            </ion-item>

            <br>

            <!-- Input for the password -->
            <ion-item style="background-color : #F0F6F1;">
              <ion-label floating style="background-color : #F0F6F1;">Password</ion-label>
              <ion-input type="password" min="6" name="password" required class="custom-input-password" [(ngModel)]="user.password" floating></ion-input>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>

      <!-- Login Button  -->
      <ion-row>
        <ion-col class="signup-col">

          <button ion-button class="email-btn" block clear (click)="emailSignIn(user)"> Login </button>
        </ion-col>
      </ion-row>

      <!-- Register statement.  -->
      <ion-row>
        <ion-col class="signup-col">
          <p class="signup-text">Don't have an account? <a href=""> Register </a> </p>
        </ion-col>
      </ion-row>

    </form>
          <!-- Terms of service statement.  -->
          <hr>
          <h6 class="terms-of-service">By clicking "Continue", I agree to our <a href="#">Terms of Service.</a></h6>
  </div>
</ion-content>
