<!--
  Generated template for the ViewPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
</ion-header>


<ion-content >
  <ion-tabs class="promos-tab" color="bottomTabs">
    <ion-tab [root]="tab1Root" tabTitle="PROMOS"></ion-tab>
    <ion-tab [root]="tab2Root" tabTitle="REWARDS"></ion-tab>
    <ion-tab [root]="tab3Root" tabTitle="EVENTS"></ion-tab>
  </ion-tabs>
</ion-content>
