page-view {


  .promos-tab{
    background-color: red;
    min-height: 35vh !important; 
    font-size: 14px;
    color: #9B9B9B;
    letter-spacing: 1.58px;
  }
  // When the buttons are selected.
  .promos-tab .tab-button[aria-selected=true] {
    color : #0C6149;
  }

  // When the buttons are NOT selected.
  .promos-tab .tab-button[aria-selected=false]{
    font-family: ArialMT;
    font-size: 14px;
    color: #9B9B9B;
    letter-spacing: 1.58px;
  }

}
