
<ion-header color="#68B237">
  <!-- Navbar on the top -->
  <ion-navbar color="navbar">
    <!-- Title for the nav bar. -->
    <ion-title class="top-logo">
       <p class="custom-kava-title"> How To Redeem Rewards </p>
    </ion-title>
</ion-navbar>




</ion-header>


<ion-content padding class="page-content">


<!-- F6FAF6 -->
  <p>How to go redeem rewards......... </p>


</ion-content>