page-how-to-redeem {
	page-content {

  }

  .ion-item{
    color: #424242 !important;
  }

  .top-logo {
    font-size: 17px;
    color: #FFFFFF;
    letter-spacing: 3px;
    text-align: center;
    background-color: #68B237;
  }

  .custom-header{
    background-color: #68B237;
  }

  // Main button on the right css
  .right-button-main{
    background-color : #68B237;
    color : white;
  }

  // Star icon.
  .star-icon {
    color : yellow;
    text-align: center;
    margin-left: -12vw !important;
  }

  // CSS for the notification count number.
  .notification-count{
    display : inline;
    font-size : 12px;
  }

  // Icon for the profile
  .profile-icon {
    font-size : 18px;
    content : url('./assets/imgs/avatar-custom-icon.svg')
  }

  .amount-score{
    background-color: #4A4A4A;
    height: 150px;
    width : 150px;
    border-radius: 99px;
    margin: 0 auto;
  }

  .top-star{
    position: absolute;
    top: 8vw !important;
    right: 48vw !important;
  }

  .bottom-star{
    position: absolute;
    top: 42.5vw !important;
    right: 48vw !important;
  }

  .custom-rewards-icon{
    color:gold !important;;
  }
  .score-amount-text{
    font-size: 18vw;
    text-align: center;
    margin-left: 12vw !important;
    margin-top: 12vw !important;

  }
  .score-amount{
    position: absolute;
    color: yellow !important;
    


  }

  .description-text-box{
    text-align: center;
    font-size: 1.8vh;
    margin-top: 6vh;
    border-bottom: black solid 1px;
    padding-bottom: 2vh;
  }

  .custom-hr{
    margin-top: 11px;
  }
}
