<!--
  Generated template for the EventModalPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<!-- Header -->
<ion-header color="#68B237">

  <!-- Navbar on the top -->
  <ion-navbar color="navbar">

    <!-- Title for the nav bar. -->
    <ion-title class="top-logo">EVENT</ion-title>

    <!-- Right icon button. -->
    <ion-buttons end>

        <button class="right-button-main">

            <ion-icon name="star" class="star-icon"></ion-icon>
            <div class="notification-count">22</div>

          <ion-icon class="profile-icon" style="content : url('assets/imgs/avatar-custom-icon.svg')"></ion-icon>
        </button>



    </ion-buttons>


    <!-- Left Side Cancel button. -->
    <ion-buttons left>

        <button class="right-button-main" (click)="goBack()">

            <ion-icon name="close" style="font-size : 6vh;"></ion-icon>

        </button>


    </ion-buttons>

    </ion-navbar>

  </ion-header>


<ion-content padding>


  <!-- Title / Description Div -->
  <div class="">


    <!-- Image / Text -->
    <div class="heading-text">
      <img src="assets/imgs/logo.png" class="item-image"/>
      <div class=""> Bushwick Animal Lovers </div>
      <div class=""> NYC </div>
    </div>


    <!-- Description -->
    <div class="" class="description-text">
      Holiday Treats with your furry friends.
    </div>

  </div>


  <!-- Selection Div -->
  <div class="">


    <!-- Top Border -->
    <hr class="top-border">


    <div class="">

      <div class="rightside-text" style="float : left;">
        Are You Going?
        <br>
        1 spot left.
      </div>

      <div class="selection-buttons" style="float : right;">
        <img src="assets/imgs/event-page/ex-mark.svg" alt="" class="btn-ex">
        <img src="assets/imgs/event-page/check-mark.svg" alt="" class="btn-check">

      </div>

    </div>


  </div>


  <!-- Bottom Border -->
  <hr class="bottom-border">


  <ion-grid>

    <!-- Time / Date Text -->
    <ion-row>
      <ion-col>
        <!-- Time logo -->
          <img src="assets/imgs/event-page/time.svg" alt="">
      </ion-col>



      <ion-col class="middle-text">
        <!-- Time / Date statement -->
          <p class="middle-text-date">Tuesday, September 2</p>
          <p class="middle-text-time">6 : 00 pm - 9 : 00 pm</p>
      </ion-col>

    </ion-row>

    <!--  Location / Address Area -->
    <ion-row>
      <ion-col>
        <!-- Location logo -->
          <img src="assets/imgs/event-page/location.svg" alt="">
      </ion-col>

      <ion-col class="middle-text">
        <!-- Location  tEXT -->
          <p class="middle-text-date">House of Kava</p>
          <p class="middle-text-time">Central Brooklyn, 11221</p>
      </ion-col>

    </ion-row>


    <!--  Location / Address Area -->
    <ion-row>
      <ion-col>
        <!-- Location logo -->
          <p class="host-logo">Host:</p>
      </ion-col>

      <ion-col class="middle-text">


        <!-- Location  tEXT -->
          <p class="location-text">Anna Kane</p>

      </ion-col>

    </ion-row>


  </ion-grid>







  <!-- Bottom Div -->
  <div class="">

    <!-- Amount of people going -->
    <div class="person-count">
      5 people are going
    </div>

    <!-- Images of all the 5 people -->
    <div class="">
      <img src="assets/imgs/logo.png" alt="" class="profile-images">
      <img src="assets/imgs/logo.png" alt="" class="profile-images">
      <img src="assets/imgs/logo.png" alt="" class="profile-images">
      <img src="assets/imgs/logo.png" alt="" class="profile-images">
      <img src="assets/imgs/logo.png" alt="" class="profile-images">
    </div>


    <!-- Bottom Message -->
    <div class="bottom-message">
      3 line description consectetur adipiscing elit. Aliquamm a auctor magna, ut tempor eros Lorem ipsum dolor sit amet, consectetur adipiscing elit..
    </div>

  </div>



</ion-content>
