page-event-modal {

  // Class for the page content.
  .page-content {
    background-color: #F6FAF6;
  }

  // Class for the top logo.
  .top-logo {
    font-size: 17px;
    color: #FFFFFF;
    letter-spacing: 3px;
    text-align: center;

  }

  // Custom header.
  .custom-header{
    font-family: Helvetica;
    font-size: 18px;
    color: #68B237;
    white-space: normal;
    letter-spacing: 0;
    text-align: center;
  }



  // CSS for the text area of the item
  .item-text-area {
    background-color: #F6FAF6;
    height: 80px;
  }

  // CSS to float to the left side.
  .item-image{
    margin-right: 18px;
    float:left;
    max-width: 80px !important;
    max-height: 80px !important;
  }

  // Css for the quick message for the item.
  .item-message{
    font-size: 14px;
    color: #4A4A4A;
    letter-spacing: 0;
    line-height: 16px;
  }

  // Item time's css
  .item-time{
    position: absolute;
    bottom: 0;
    font-size: 14px;
    color: #8B999F;
    letter-spacing: 0;
    margin-left: 98px;
    margin-bottom: 14px;
  }

  // Main button on the right css
  .right-button-main{
    background-color : #68B237;
    color : white;
  }



  // Star icon.
  .star-icon {
    color : yellow;
  }

  // CSS for the notification count number.
  .notification-count{
    display : inline;
    font-size : 12px;
  }

  // Icon for the profile
  .profile-icon {
    font-size : 18px;
    content : url('./assets/imgs/avatar-custom-icon.svg')
  }

  // The ex mark button.
  .btn-ex{
    margin-right: 11px;
  }

  //The check mark button.
  .btn-check{
    margin-right: 9px;
  }

  .description-text {
    margin-top : 60px;
    font-family: Helvetica;
    font-size: 21px;
    color: #4A4A4A;
    letter-spacing: 0;
    line-height: 22px;
    margin-bottom: 20px;
  }

  .heading-text {
    opacity: 0.9;
    font-family: Helvetica;
    font-size: 14px;
    color: #4A4A4A;
    letter-spacing: 0;
    line-height: 21px;
  }

  .rightside-text {
    margin-top:  23px;
    font-family: ArialMT;
    font-size: 12px;
    color: #4A4A4A;
    letter-spacing: 0;
    line-height: 16px;
  }

  .middle-text {
    font-size: 14px;
    color: #4A4A4A;
    letter-spacing: 0;
    line-height: 16px;
    margin-left: -163px;
  }

  .host-logo{
    font-size: 14px;
    color: #4A4A4A;
    letter-spacing: 0;
    line-height: 16px;
    margin-top: -2px;
  }

  .bottom-message {
    font-family: Helvetica;
    font-size: 12px;
    color: #4A4A4A;
    letter-spacing: 0;
    line-height: 16px;
  }

  .profile-images{
    height: 33px;
    width : 33px;
    border-radius: 18;
    margin-right: 11px;
    margin-bottom: 11px;
  }

  .person-count{
    font-size: 13px;
    color: #4A4A4A;
    letter-spacing: 0;
    line-height: 16px;
    margin-bottom: 9px;
  }

  .top-border{
    border : 0.1px solid #D9D9D9;
  }

  .bottom-border{
    border : 0.1px solid #D9D9D9;
    margin-top : 85px;
  }

  .middle-text-date{
    margin-top : -4px;
  }

  .middle-text-time{
    margin-top : -13px;
  }
  
  .location-text{
    display : inline;
    margin-top : -1px;
  }

}
