<!--
  Generated template for the AccountSettingsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<!--
  Generated template for the Page1Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header color="#68B237">
  <!-- Navbar on the top -->
  <ion-navbar color="navbar">
    <!-- Title for the nav bar. -->
    <ion-title class="top-logo">
       <p class="custom-kava-title"> MY ACCOUNT </p>
    </ion-title>
</ion-navbar>




</ion-header>


<ion-content padding class="page-content">


<!-- F6FAF6 -->
  <ion-list>
    <ion-item class="event-item"> Change Password </ion-item>
    <ion-item class="event-item" (click)="goToTutorial()"> How To Redeem Rewards </ion-item>
    <ion-item class="event-item"> Log Out </ion-item>


  </ion-list>


</ion-content>
