page-account-settings {
	
  .custom-title{
    font-weight: normal !important;
    font-size: 2.76vh !important;
    text-align: center !important;
  }

  // Class for the page content.
  .page-content {
    background-color: #F6FAF6 !important;
  }

  .custom-item{
    background-color: #F6FAF6 !important;
    
  }
  .custom-list{
    background-color: #F6FAF6 !important;
  }
  .custom-flash-alert{
    background-color: #F6FAF6 !important;
    border-top: none !important;
    border-bottom-width: 100% !important;
  }

  // Class for the top logo.
  .top-logo {
    font-size: 17px;
    color: #FFFFFF;
    letter-spacing: 3px;
    text-align: center;
    background-color: #68B237;
  }

  // Custom header.
  .custom-header{
    font-size: 18px;
    color: #68B237;
    white-space: normal;
    letter-spacing: 0;
    text-align: center;

  }

  // CSS for the text area of the item
  .item-text-area {
    background-color: #F6FAF6;
    height: 80px;
  }

  // CSS to float to the left side.
  .item-image{
    margin-right: 18px;
    float:left;
    max-width: 80px !important;
    max-height: 80px !important;
  }

  // Css for the quick message for the item.
  .item-message{
    font-size: 14px;
    color: #4A4A4A;
    letter-spacing: 0;
    line-height: 16px;
  }

  // Item time's css
  .item-time{
    position: absolute;
    bottom: 0;
    font-size: 14px;
    color: #8B999F;
    letter-spacing: 0;
    margin-left: 98px;
    margin-bottom: 1.5vh !important;
  }

  // Main button on the right css
  .right-button-main{
    background-color : #68B237;
    color : white;
  }

  // Star icon.
  .star-icon {
    color : yellow;
  }

  // CSS for the notification count number.
  .notification-count{
    display : inline;
    font-size : 12px;
  }

  // Icon for the profile
  .profile-icon {
    font-size : 18px;
    content : url('./assets/imgs/avatar-custom-icon.svg')
  }

  .reward-heading{
    background-color : #F6FAF6;
    border-top: none !important;
  }

  .event-item{
    background-color : #F6FAF6;
  }

}
