// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
  .custom-title{
    font-weight: normal !important;
    font-size: 2.76vh !important;
    text-align: center !important;
  }
  .custom-kava-title{
    font-weight: normal !important;
    font-size: 2.3vh !important;
    text-align: center !important;
  }

  // Class for the page content.
  .page-content {
    background-color: #F6FAF6 !important;
  }

  .custom-item{
    background-color: #F6FAF6 !important;
  }
  .custom-list{
    background-color: #F6FAF6 !important;
  }
  .custom-flash-alert{
    background-color: #F6FAF6 !important;
    border-top: none !important;
    border-bottom-width: 100% !important;
  }

  // Class for the top logo.
  .top-logo {
    font-size: 17px;
    color: #FFFFFF;
    letter-spacing: 3px;
    text-align: center;
    background-color: #68B237;
  }
