<ion-content class="login-content" padding>

  <!-- Logo Items  -->
  <ion-row class="logo-row">
      <!-- Logo Image  -->
      <!-- Logo Image  -->
      <img class="logo-style" src="assets/imgs/kava-logo-2.png"/>

  </ion-row>

  <!-- Logo Title  -->
<ion-row>
    <p class="logo-text">JOIN THE FUN</p>
</ion-row>

  <!-- Area for the login stuff. -->
  <div class="login-box">

    <!-- Facebook / Email Buttons -->
      <ion-row>

        <ion-col class="signup-col" col-24>

          <button ion-button class="facebook-btn custom-button" block clear (click)="facebookClicked()">
            <p class="custom-button-text">Continue With Facebook </p>
          </button>
        </ion-col>

        <ion-col class="signup-col">

          <button ion-button class="email-btn custom-button" block clear (click)="emailClicked()" >
              <p class="custom-button-text custom-border" >Continue With Email </p>
          </button>
        </ion-col>
      </ion-row>
      <!-- Register statement.  -->
      <ion-row>
        <ion-col class="">
          <p class="custom-sign-up-link">Don't have an account? <a href="" class="link-statements"> Register </a> </p>
        </ion-col>
      </ion-row>
          <!-- Terms of service statement.  -->
          <hr>
          <h6 class="custom-terms-text">By clicking "Continue", I agree to our <a href="#" class="custom-terms-link">Terms of Service.</a></h6>
  </div>
</ion-content>
