page-starting {

  font-size: 16px !important;
  text-decoration: none !important;
  color: #979797 !important;
  letter-spacing: 2px !important;
  bottom: 0px !important;

  .login-content {
    background: #F0F6F1;

    // .logo-row {
    //   padding-top: 50px;
    //   padding-bottom: 20px;
    // }

    .login-box {
      background: #F0F6F1;
      padding: 20px 20px 0px 20px;
    }
  .logo-row {
      padding-top: 4px;
      padding-bottom: 1vh;
    }
  .logo-style{
      width: 55vw;
      height: auto;
      margin-left : 20vw;
   }
  .custom-terms-text{
    text-align : center !important; 
    font-size : 10px !important; 
    letter-spacing : 0 !important; 
    color : #4A4A4A !important;
  }
  .custom-terms-link{
    font-weight: bold !important; 
    color: black !important; 
  }
  .custom-sign-up-link{
    color:#979797 !important; 
    font-size : 12px;
  }

  .custom-button{
    width:80vw !important;
    margin-right:10vw !important;
    margin-left:-5vw;
  }
  .custom-border{
    color : grey !important; 
    border-color : grey !important;
  }


    ion-row {
       align-items: center;
       text-align: center;
     }

     ion-item {
         border-radius: 30px !important;
         padding-left: 30px !important;
         font-size: 0.9em;
         margin-bottom: 10px;
         border: 1px solid #ffffff;
         border-bottom: 0px !important;
         box-shadow: none !important;
         font-family: ".AppleSystemUIFont";
        font-size: 16px;
        color: #FFFFFF;
        letter-spacing: 2px !important;
     }

     .signup-col {
       margin: 0px 16px 0px 16px;
       padding-bottom: 20px;
     }


     .custom-button-text{
       font-size: 13px !important;
       text-decoration: none !important;
       color: #FFFFFF;
       letter-spacing: 2px !important;
     }

     .item-inner {
       border-bottom-color: #ffffff !important;
       box-shadow: none !important;
     }

     .facebook-btn {
       background: #3B5998;
       color: white;
       height: 44px;
     }



     .email-btn {
       background: white;
       color: black;
       height: 44px;
       border: 1px solid #D9D9D9;
       margin-top : -18px;
     }


  }

  hr {
  height: 0.04px !important;
  display: block !important;
  visibility: visible !important;
  border: 1px solid #D9D9D9;
}


  .logo-text {
    font-family: Helvetica;
    font-size: 16px;
    color: #68B237;
    letter-spacing: 1px;
    margin-left: 30%;
  }

  .link-statements{
    color : #979797;
    text-decoration: none;
  }

  // CSS for the logo image.
  .logo-image{
    width : 199px;
    height : 252px;
    margin-left : 55px;
  }

  
}
