<!--
  Generated template for the Page3Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header color="#68B237">

<ion-navbar color="navbar">

    <!-- Title for the nav bar. -->
    <ion-title class="top-logo">
       <p class="custom-kava-title"> HOUSE OF KAVA </p>
    </ion-title>

    <!-- Right icon button. -->
    <ion-buttons end>

        <button class="right-button-main" (click)="goToAccount()" >

            <ion-icon name="star" class="star-icon"></ion-icon>
            <div class="notification-count">22</div>

          <ion-icon class="profile-icon" style="content : url('assets/imgs/avatar-custom-icon.svg')"></ion-icon>
        </button>
    </ion-buttons>

</ion-navbar>



</ion-header>


<ion-content padding class="page-content">


  <ion-list>

    <!-- Sample Item -->
    <ion-item *ngFor="let data of testArr" class="custom-item">
      <!-- Item's image -->
      <img [src]="data.img" class="item-image"/>
      <!-- Item's text area -->
      <div class="item-text-area">
        <!-- Item's Message -->
        <div class="item-message">
          {{ data.description }}
        </div>
        <!-- Item's time left -->
        <h2 class="item-time">
          {{ data.time }}
        </h2>
      </div>

        <img src="assets/imgs/right-arrow.svg" class="item-arrow" (click)="openModal()"/>
    </ion-item>










  </ion-list>
</ion-content>
