page-page3 {
  .page-content {
    background-color: #F6FAF6 !important;
  }

  .top-logo {
    font-size: 17px;
    color: #FFFFFF;
    letter-spacing: 3px;
    text-align: center;
    background-color: #68B237;
  }

  .custom-header{
    background-color: #68B237;
  }

  // CSS for the text area of the item
  .item-text-area {
    height: 80px;
  }

  // CSS to float to the left side.
  .item-image{
    margin-right: 18px;
    float:left;
    max-width: 80px !important;
    max-height: 80px !important;
  }

  .item-arrow {
    right: 0;
    position: absolute;
    top: 45%;
    max-width: 80px !important;
    max-height: 80px !important;
  }

  // Css for the quick message for the item.
  .item-message{
    font-size: 14px;
    color: #4A4A4A;
    letter-spacing: 0;
    line-height: 16px;
  }

  // Item time's css
  .item-time{
    position: absolute;
    bottom: 0;
    font-size: 14px;
    color: #8B999F;
    letter-spacing: 0;
    margin-left: 98px;
    margin-bottom: 1.5vh !important;
  }

  .custom-item{
    border-top: none !important;
  }


  // Main button on the right css
  .right-button-main{
    background-color : #68B237;
    color : white;
  }

  // Star icon.
  .star-icon {
    color : yellow;
  }

  // CSS for the notification count number.
  .notification-count{
    display : inline;
    font-size : 12px;
  }

  // Icon for the profile
  .profile-icon {
    font-size : 18px;
    content : url('./assets/imgs/avatar-custom-icon.svg')
  }


}
