
<!--
  Generated template for the Page1Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header color="#68B237">

  <!-- Navbar on the top -->
  <ion-navbar color="navbar">

    <!-- Title for the nav bar. -->
    <ion-title class="top-logo">
       <p class="custom-kava-title"> HOUSE OF KAVA </p>
    </ion-title>

    <!-- Right icon button. -->
    <ion-buttons end>

        <button class="right-button-main" (click)="goToAccount()" >

            <ion-icon name="star" class="star-icon"></ion-icon>
            <div class="notification-count">22</div>

          <ion-icon class="profile-icon" style="content : url('assets/imgs/avatar-custom-icon.svg')"></ion-icon>
        </button>
    </ion-buttons>

</ion-navbar>




</ion-header>


<ion-content padding class="page-content">


<!-- F6FAF6 -->
  <ion-list>


    <!-- The heading for new rewards -->
    <ion-item class="reward-heading">
      <h3 class="custom-header">+20 stars until your next reward. </h3>
    </ion-item>



    <!-- Sample Item -->
    <ion-item *ngFor="let data of testArr" class="event-item">
      <!-- Item's image -->
      <img [src]="data.img" class="item-image"/>
      <!-- Item's text area -->
      <div class="item-text-area">
        <!-- Item's Message -->
        <div class="item-message">
          {{ data.description }}
        </div>
        <!-- Item's time left -->
        <p class="item-time">
          {{ data.time }} hr
        </p>
      </div>
    </ion-item>







  </ion-list>


</ion-content>
