page-email-registration {
    font-size: 16px !important;
    text-decoration: none !important;
    color: #979797 !important;
    letter-spacing: 2px !important;

    .custom-list-item{
      background-color : #F0F6F1 !important; 
    }
    .login-content {
      background: #F0F6F1;

      .logo-row {
        padding-top: 5px;
        padding-bottom: 20px;
      }

      .login-box {
        background: #F0F6F1;
        padding: 20px 20px 0px 20px;
        margin-top: 30px;

      }

      ion-row {
         align-items: center;
         text-align: center;
       }

      //  ion-item {
      //      border-radius: 30px !important;
      //      padding-left: 30px !important;
      //      font-size: 0.9em;
      //      margin-bottom: 10px;
      //      border: 1px solid #ffffff;
      //      border-bottom: 0px !important;
      //      box-shadow: none !important;
      //  }

      //  .signup-col {
      //    margin: 0px 16px 0px 16px;
      //    padding-bottom: 20px;
      //  }

       .item-inner {
         border-bottom-color: #ffffff !important;
         box-shadow: none !important;
       }

       .submit-btn {
         background: #3B5998;
         color: #F0F6F1;
         height: 44px;
       }

       .email-btn {
         background: #F0F6F1;
         color: black;
         height: 44px;
         border: 1px solid grey;
       }
    }


    hr {
     border: 0.3px solid black !important;
  }

  .logo-text {
    font-family: Helvetica;
    font-size: 16px;
    color: #68B237;
    letter-spacing: 1px;
    margin-left: 30%;
  }

  // The styling for the logo.
  .logo-style{
    width : 199px;
    height : 252px;
    margin-left : 55px;
  }

  // Styling for the terms of service.
  .terms-of-service{
    text-align : center;
    font-size : 11px;
  }

  .custom-input-email{
    background-color: #F0F6F1;
  }

  .custom-input-password{

  }

  ion-input{

  }

  .login-statement{
    font-size: 4.4vw;
  }


}
