<ion-content class="login-content" padding>

  <!-- Logo Items  -->
  <!-- <ion-row class="logo-row"> -->

      <!-- Logo Image  -->
      <!-- <img class="logo-style" src="assets/imgs/kava-logo-2.png"/> -->

  <!-- </ion-row> -->

  <!-- Logo Title  -->
<!-- <ion-row>
    <p class="logo-text">JOIN THE FUN</p>
</ion-row> -->

  <!-- Area for the Register stuff. -->
  <div class="login-box">

    <!-- Register Form Start -->
    <form>

      <!-- Username and Password Inputs  -->

            <!-- Input for the email.  -->
            <ion-item class="custom-list-item">
              <ion-label floating class="custom-list-item">Email</ion-label>
              <ion-input type="email" name="email" required class="custom-input-email" [(ngModel)]="Form.email" floating></ion-input>
            </ion-item>

            <br>

            <!-- Input for the password -->
            <ion-item class="custom-list-item">
              <ion-label floating class="custom-list-item">Password</ion-label>
              <ion-input type="password" min="6" name="password" required class="custom-input-password" [(ngModel)]="Form.password" floating></ion-input>
            </ion-item>

            <!-- Input for the confirm password. -->
            <ion-item class="custom-list-item">
              <ion-label floating class="custom-list-item">Confirm Password</ion-label>
              <ion-input type="password" min="6" name="confirmPassword" required class="custom-input-password" [(ngModel)]="Form.confirmPassword" floating></ion-input>
            </ion-item>

            <br>

      <!-- Register Button  -->
      <ion-row>
        <ion-col class="signup-col">

          <button ion-button class="email-btn" block clear (click)="emailSignUp(user)"> Register </button>
        </ion-col>
      </ion-row>

      <!-- Login statement.  -->
      <ion-row>
        <ion-col class="signup-col">
          <p class="login-statement"> Already have an account? <a (click)="loginClicked()"> Login </a> </p>
        </ion-col>
      </ion-row>



    </form>

          <!-- Terms of service statement.  -->
          <hr>


          <h6 class="terms-of-service">By clicking "Continue", I agree to our <a href="#">Terms of Service.</a></h6>
  </div>
</ion-content>
