<!--
  Generated template for the Page2Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header color="#68B237">

  <ion-navbar color="navbar">

    <!-- Title for the nav bar. -->
    <ion-title class="top-logo">
       <p class="custom-kava-title"> HOUSE OF KAVA </p>
    </ion-title>

    <!-- Right icon button. -->
    <ion-buttons end>

        <button class="right-button-main" (click)="goToAccount()" >

            <ion-icon name="star" class="star-icon"></ion-icon>
            <div class="notification-count">25</div>

          <ion-icon class="profile-icon" style="content : url('assets/imgs/avatar-custom-icon.svg')"></ion-icon>
        </button>
    </ion-buttons>

</ion-navbar>



</ion-header>

<ion-content padding class="page-content">

  <div class="amount-score">

    <!-- Top star -->
    <div class="top-star" style="content : url('assets/imgs/rewards-page/star.svg')">
    </div>


    <!-- Amount of score -->
    <div class="score-amount">
      <p class="score-amount-text">25</p>
    </div>

    <!-- Bottom Star -->
    <div class="bottom-star">
      <img src="" alt="" style="content : url('assets/imgs/rewards-page/star.svg')">
    </div>

  </div>

  <div class="description-text-box">
    1 star per dollar spent.
  </div>


 <ion-list>
    <ion-item class="custom-item"> 
      <ion-icon name="star" item-start class="custom-rewards-icon"></ion-icon>
        <p> Reward Item 1 <p>
        <p> Description here</p>
    </ion-item>
    <ion-item class="custom-item"> 
      <ion-icon name="star" item-start class="custom-rewards-icon"></ion-icon>
        <p> Reward Item 2  <p>
        <p> Description here</p>
    </ion-item>

  </ion-list>
</ion-content>
